<script id="profile-template" type="text/template">

    <div class="settings-section">
        <div class="title">Profile Summary</div>
        <textarea id="profile-summary" placeholder="I'm an angel investor looking for the next great startup, let's chat!"></textarea>
    </div>

    <div class="settings-section">
        <div class="title">Title</div>
        <div class="profile-title">Software Architect at Inceptures.</div>
    </div>

    <div class="settings-section checkbox">
        <div class="title">Display full name and title.</div>
        <div class="switch small">
          <input id="display_title" type="checkbox"{{#if display_title}} checked{{/if}}>
          <label for="display_title"></label>
        </div>
    </div>

    <div class="settings-section profile-tags">
        <div class="title">Tags</div>
        <input type="text" id="tag-query" placeholder="Photoshop, SEO, Google, etc" {{#if tag_query}}{{tag_query}}{{/if}}/>
        <div class="panel">
            {{#each tags}}
            <div class="tag-suggestion">{{name}}<div class="add">+</div></div>
            {{/each}}
        </div>
    </div>
</script>