// Colors
$baby_blue: #3e8fff;
$baby_blue2: #30B0FF;
$baby_blue3: #73CAFF;
$baby_blue_dark: #0067A6;
$white: #FFFFFF;

// Font
$menu_font_size: 0.8em;

/* Custom Classes */
.baby-blue-color {
  color: #3e8fff;
}
.baby-blue-background {
  background-color: #3e8fff;
}
.dark-gray-background {
  background-color: #909090;
}
.white-color {
  color:#FFF;
}
.black-color {
  color: #000 !important;
}
.big-button-text {
  font-size: 1.1em;
}
.medium-button-text {
  font-size: 0.8em;
}

.circle_pic {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  height: 35px;
  width: 35px;
}

/* Foundation Overrides */
.main, .inner-wrap {
  height: 100%;
}
.tab-bar {
  background-color:#f2f2f2;

}
.tab-bar .left-small, .tab-bar .right-small {
  border:0;
}
.tab-bar .menu-icon span:after {
  box-shadow: 0 0 0 1px #3e8fff, 0 7px 0 1px #3e8fff, 0 14px 0 1px #3e8fff;
}

/* Menus */
.left-off-canvas-menu {
  background-color: $baby_blue2;
}

.left-off-canvas-menu .off-canvas-list li a {
  border:0;
  color: $white;
  font-size: $menu_font_size;
}

.left-off-canvas-menu .off-canvas-list li a:active {
  background: $baby_blue;
}

.left-off-canvas-menu .off-canvas-list li a:hover {
  background: $baby_blue;
}

.left-off-canvas-menu .off-canvas-list li.head {
  border-bottom: 1px solid $baby_blue3;
  padding: 0 0 0.5em 0;
  margin: 0.6em 0.6em 0 0.6em;
}

.left-off-canvas-menu .off-canvas-list li.head .circle_pic, .left-off-canvas-menu .off-canvas-list li.head .container {
  display: inline-block;
  line-height: 0.9em;
  vertical-align: top;
}

.left-off-canvas-menu .off-canvas-list li.head .container {
  padding: 0.2em 0 0 0.3em;
}

.left-off-canvas-menu .off-canvas-list li.head .name {
  color: $white;
  font-size: 0.8em;
}

.left-off-canvas-menu .off-canvas-list li.head .title {
  color: $baby_blue_dark;
  font-size: 0.6em;
}

/* Views */
.swipe-bar {
    padding: 0.5em 0.5em;
    margin: auto;
    text-align: center;
    width: 100%;
}

.card {
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid #999;
    margin: auto;
    height: 300px;
    width: 100%;
}

.card-title {
    background-color: white;
    box-shadow: 0px 0px 3px 0px;
    font-size: 14px;
    margin: -17px auto 10px;
    padding: 5px 10px;
    width: 95%;
}

.stats {
    float:right;
    margin-top:10px;
    width: 70px;
}
.stats .bubble {
    background-color: #3e8fff;
    border: 2px solid;
    border-radius: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    height: 60px;
    padding-top: 4px;
    margin-bottom: 10px;
    width: 60px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}
.stats .bubble .number {
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
}
.stats .bubble .title {
    font-size: 9px;
    margin: -6px auto 0;
    text-align: center;
}