<script id="timeline-profile-template" type="text/template">
    <div class="swipe-bar baby-blue-background white-color medium-button-text">Connect</div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="card swiper-slide" style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/092/024/2d3668f.jpg');">
                    <div class="stats">
                        <div class="bubble">
                            <div class="number">50</div>
                            <div class="title">Relevance</div>
                        </div>
                        <div class="bubble">
                            <div class="number">30</div>
                            <div class="title">Similarities</div>
                        </div>
                    </div>
                    <div class="card-title">Software Engineer at Inceptures</div>
                </div>

                <div class="card swiper-slide" style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/092/024/2d3668f.jpg');">
                    <div class="stats">
                        <div class="bubble">
                            <div class="number">50</div>
                            <div class="title">Relevance</div>
                        </div>
                        <div class="bubble">
                            <div class="number">30</div>
                            <div class="title">Similarities</div>
                        </div>
                    </div>
                    <div class="card-title">Software Engineer at Inceptures</div>
                </div>

                <div class="card swiper-slide" style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/092/024/2d3668f.jpg');">
                    <div class="stats">
                        <div class="bubble">
                            <div class="number">50</div>
                            <div class="title">Relevance</div>
                        </div>
                        <div class="bubble">
                            <div class="number">30</div>
                            <div class="title">Similarities</div>
                        </div>
                    </div>
                    <div class="card-title">Software Engineer at Inceptures</div>
                </div>

                <div class="card swiper-slide" style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/092/024/2d3668f.jpg');">
                    <div class="stats">
                        <div class="bubble">
                            <div class="number">50</div>
                            <div class="title">Relevance</div>
                        </div>
                        <div class="bubble">
                            <div class="number">30</div>
                            <div class="title">Similarities</div>
                        </div>
                    </div>
                    <div class="card-title">Software Engineer at Inceptures</div>
                </div>

                <div class="card swiper-slide" style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/092/024/2d3668f.jpg');">
                    <div class="stats">
                        <div class="bubble">
                            <div class="number">50</div>
                            <div class="title">Relevance</div>
                        </div>
                        <div class="bubble">
                            <div class="number">30</div>
                            <div class="title">Similarities</div>
                        </div>
                    </div>
                    <div class="card-title">Software Engineer at Inceptures</div>
                </div>

                <div class="card swiper-slide" style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/092/024/2d3668f.jpg');">
                    <div class="stats">
                        <div class="bubble">
                            <div class="number">50</div>
                            <div class="title">Relevance</div>
                        </div>
                        <div class="bubble">
                            <div class="number">30</div>
                            <div class="title">Similarities</div>
                        </div>
                    </div>
                    <div class="card-title">Software Engineer at Inceptures</div>
                </div>

                <div class="card swiper-slide" style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/092/024/2d3668f.jpg');">
                    <div class="stats">
                        <div class="bubble">
                            <div class="number">50</div>
                            <div class="title">Relevance</div>
                        </div>
                        <div class="bubble">
                            <div class="number">30</div>
                            <div class="title">Similarities</div>
                        </div>
                    </div>
                    <div class="card-title">Software Engineer at Inceptures</div>
                </div>

                <div class="card swiper-slide" style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/092/024/2d3668f.jpg');">
                    <div class="stats">
                        <div class="bubble">
                            <div class="number">50</div>
                            <div class="title">Relevance</div>
                        </div>
                        <div class="bubble">
                            <div class="number">30</div>
                            <div class="title">Similarities</div>
                        </div>
                    </div>
                    <div class="card-title">Software Engineer at Inceptures</div>
                </div>

                <div class="card swiper-slide" style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/092/024/2d3668f.jpg');">
                    <div class="stats">
                        <div class="bubble">
                            <div class="number">50</div>
                            <div class="title">Relevance</div>
                        </div>
                        <div class="bubble">
                            <div class="number">30</div>
                            <div class="title">Similarities</div>
                        </div>
                    </div>
                    <div class="card-title">Software Engineer at Inceptures</div>
                </div>
            </div>
        </div>
        <div class="swipe-bar dark-gray-background white-color medium-button-text">Archive</div>
</script>