<script id="menus" type="text\template">

    <aside class="left-off-canvas-menu">

        <ul class="off-canvas-list">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a href="#">Share</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
        </ul>
    </aside>

    <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
            <li>
                <label>Contacts</label>
            </li>
            <li>
                <a href="#">Contact #1</a>
            </li>
            <li>
                <a href="#">Contact #2</a>
            </li>
        </ul>
    </aside>

</script>